Ejercicio 1:
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [ ]:
nom = str(input("Introduce un nombre:" ))
mat = int(input("Introduce una matricula:")) 
print("Nombre:     ",nom,"\nMatricula:  ",mat)

Ejercicio 2:
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
num1 = int(input("Introduce un número:" ))
num2 = int(input("Introduce otro número:"))
op = int(input("Introduce numero de operacion deseada:\n1-suma\n2-resta\n3-mutiplicacion\n4-division\n5-exponente\n"))

if op == 1:
  print("La respuesta es: ",num1+num2)

if op == 2:
  print("La respuesta es: ",num1-num2)

if op == 3:
  print("La respuesta es: ",num1*num2)

if op == 4:
  print("La respuesta es: ",num1/num2)
  
if op == 5:
  print("La respuesta es: ",num1**num2)

Ejercicio 3:
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [ ]:
list = []
i=1

while i <= 10:
  list.insert(i, 3*i)
  i=i+1

print(list)
tot=0

for i in range(0,10):
    tot=tot+list[i]
    
print("El total es: ",tot)

Ejercicio 4
Con una función de if else, revisar si un número es par o es impar.
Con una función de if else, revisar si un número es primo o no.

In [ ]:
num = int(input("Introduce un numero: "))  

if (num % 2) == 0:  
   print("Es par")  

else:  
   print("Es impar") 

if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print(num, "No es primo")
            break
            
print("Es primo")

Ejercicio 5
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
class calculadora:
    def __init__(self, num1, num2):
        self.num1 = float(num1)
        self.num2 = float(num2)

    def suma(self):
        sum = self.num1 + self.num2
        print("el resultado es: ", sum)

    def resta(self):
        res = self.num1 - self.num2
        print("el resultado es: ", res)

    def multiplicacion(self):
        multi = self.num1 * self.num2
        print("el resultado es: ", multi)

    def division(self):
        div = self.num1 / self.num2
        print("el resultado es: ", div)

    def exponente(self):
        ex = self.num1 / self.num2
        print("el resultado es: ", ex)


num1 = input("Intoduce un numero: ")
num2 = input("Introduce otro numero: ")

calculadora = calculadora(num1, num2)

op = int(input("Introduce numero de operacion deseada:\n1-suma\n2-resta\n3-mutiplicacion\n4-division\n5-exponente\n"))
if op == 1:
  calculadora.suma()
if op == 2:
  calculadora.resta()
if op == 3:
  calculadora.multiplicacion()
if op == 4:
  calculadora.division()
if op == 5:
  calculadora.exponente()

Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [ ]:
flot=3.1415927
inte=3
boo=True
comp=(4.5 + 3j)

print(type(flot))
print(type(inte))
print(type(boo))
print(type(comp))

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [ ]:
tup=[1,2,3,4,5,6,7,8,9]

print("El primer valor es: ",tup[0])
print("El ultimo valor es: ",tup[len(tup)-1])

Añadir 3 valores de string a la tupla.

In [ ]:
tup=[1,2,3,4,5,6,7,8,9]

tup.insert(9,"HOLA")
tup.insert(10,"SOY")
tup.insert(11,"YO")

print(tup)

Verificar si una variable existe dentro de la tupla

In [ ]:
tup=[1,2,3,4,5,6,7,8,9]
num = int(input("Introduce un numero: "))  

if num in tup: 
    print("El número esta en la tupla")

else:
  print("El número no esta en la tupla")

Crear una lista con 40 elementos aleatorios enteros.

In [ ]:
import random
list=[]
i=0

while i <= 39:
  list.insert(i,random.randint(0, 40))
  i=i+1

print(list)

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [ ]:
listpar=[]
listimpar=[]

def ParImpar(a):
    i=0
    o=0
    lista=[]
    while i <= 39:
      if (a[i] % 2) == 0:  
        lista.insert(o,a[i])
        o=o+1
      i=i+1
    return lista

listpar=ParImpar(list)
i=0
o=0
for i in range(0,40):
  if list[i] not in listpar:
    listimpar.insert(o,list[i])
    o=o+1
  i=i+1
print(list)
print(listpar)
print(listimpar)

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [ ]:
lenlistpar=len(listpar)
lenlistimpar=len(listimpar)
print("La longuitud de la lista de pares es: ",lenlistpar,"\nLa longuitud de la lista de impares es: ",lenlistimpar)

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [ ]:
listpar.sort()
listpar.reverse()
listimpar.sort()
print(listpar)
print(listimpar)

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [ ]:
list.sort()
list.reverse()
print(list.index(2))
print(len(list))

Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [ ]:
dic = {"nombre" : ["Carlos","Carla","Chris","Charles","Cami","Catalina"],'edad' : [22,23,25,28,20,21]}
                                                                                           
print(dic)

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [43]:
listedad=[]
dic = {"nombre" : ["Carlos","Carla","Chris","Charles","Cami","Catalina"],'edad' : [22,23,25,28,20,21]}
i=0

for i in range(0,6):
  listedad.insert(i,dic["edad"][i])
  i=i+1

listedad.sort()

print(listedad)

[20, 21, 22, 23, 25, 28]

Usando el diccionario y un loop, imprimir solo los nombres.

In [ ]:
dic = {"nombre" : ["Carlos","Carla","Chris","Charles","Cami","Catalina"],'edad' : [22,23,25,28,20,21]}
i=0
for i in range(0,6):
  print(dic["nombre"][i])

Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [ ]:
dic = {"Carlos":22,"Carla":23,"Chris":25,"Charles":28,"Cami":20,"Catalina": 1}
nom=input('Introduzca el nombre: ')
edad=int(input('Introduzca su edad: '))
dic[nom]=edad
print(dic)

Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [ ]:
import random
set={0}
i=0

for i in range(0,99):
  set.add(random.randint(1, 25))

print(set)

Comprueba la longitud de tu set.

In [ ]:
print(len(set))

Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [ ]:
import random
list=[]
list2=[]
set={0}
i=0

while (len(set)) <= 9:
  set.add(random.randint(1, 25))

print(set)

while i <= 4:
  list.insert(i,random.randint(1, 10))
  i=i+1

print(list)

i=0
o=0

while i<=4:
  if list[i] not in list2:
    if list[i] in set:
      list2.insert(o,list[i])
      o=o+1
  i=i+1
print(list2," estan en el set")